.deps
Makefile
*.bak
autom4te.cache
config.h
config.log
config.status
.libs
*.la
*.lo
*.o
coverage*
*.gcda
*.gcno
sqlite3_test
CMakeFiles
Doxyfile
doc/html
CMakeCache.txt
test/test_db
.vagrant
cmake_install.cmake
libs
static
test/CTestTestfile.cmake
.coveralls.yml
test.db
